@import url("./reset.scss");
@import url("./variables/global.scss");
@import url("./themes/normal.scss");
@import url("./themes/dark.scss");
@import url("./themes/orange.scss");

.app,
.app_modal,
.app_drawer {
    font: var(--font-m);
    color: var(--primary-color);
}

body {
    font: var(--font-m);
    color: var(--primary-color);
}

.app {
    min-height: 100vh;
    background: var(--bg-color);
}

.app_redesigned {
    background: var(--bg-redesigned);
    min-height: 100vh;
    font: var(--font-m-redesigned);
    color: var(--text-redesigned);
}

.content-page {
    display: flex;
}

*::-webkit-scrollbar {
    width: 12px;
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: var(--card-bg);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--inverted-primary-color);
    border-radius: 20px;
    border: 2px solid var(--primary-color);
}
