.app_orange_theme {
    --bg-color: #eef3f5;
    --inverted-bg-color: #e6ae14;
    --primary-color: #eb1b94;
    --secondary-color: #8c0496;
    --inveted-primary-color: #b4b9ba;
    --inveted-secondary-color: #2b2d32;
}
